.ui.search {
    .ui.input {
        width: 100%;
    }

    .results {
        width: 100% !important;
    }

    .prompt {
        width: 100%;
    }

    &.active {
        .prompt {
            border-radius: 1rem 1rem .28571429rem .28571429rem !important;
        }
    }
}
