.ui.search {
    .ui.input {
        width: 100%;
    }

    .results {
        width: 100% !important;
    }

    .prompt {
        width: 100%;
        border-radius: 1.4rem;
    }

    &.active {
        .prompt {
            border-radius: 1.4rem 1.4rem .5rem .5rem/1.4rem 1.4rem .5rem .5rem !important;
        }
    }
}

.image {
    height: unset;
    width: unset;
}
