@import '../variables';

.Similar {
    margin-right: 10%;
    .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .checkbox {
            label:before, label:after{
                background: $theme-dark-blue !important;
                border: 1px solid $theme-purple !important;

                color: $theme-light-purple !important;
            }

            label {
                color: $theme-purple !important;
            }
        }
    }

    .ui.loader {
        margin: 20px auto;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
    }

    .ListingSummaryCard {
        height: 15vh;

        .image {
            width: 20vw;

            float: right;
            overflow: hidden;
            border-radius: .25em;
        }

        .content {
            color: $similar-card-text;

            .title {
                color: $similar-card-header;
                font-size: 1.3em;
                font-weight: bolder;
            }
        }
    }
}