.ui.search {
    width: 25em;
    margin: 1em auto;

    .ui.input {
        width: 100%;
    }

    .results {
        width: 100% !important;
        height: 60vh;
        overflow-y: scroll;
    }

    .prompt {
        width: 100%;
        border-radius: 1.4rem;
    }

    &.active {
        .prompt {
            border-radius: 1.4rem 1.4rem .5rem .5rem/1.4rem 1.4rem .5rem .5rem !important;
        }
    }

    .chart {
        background-color: aliceblue;
        border-radius: .25em
    }
}

.image {
    height: unset;
    width: unset;
}
