$header-text-color: #d6c9f8;
$header-icon-color: #9c94f8;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #282c34 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    margin: 1em 10em;

    .ui.search {
        width: 25em;
        margin: 1em auto;
    }

    .ui.header {
        text-align: center;
        height: 5em;
        padding-top: 3em;
        font-size: 3em;
        color: $header-text-color;

        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        .icon {
            color: $header-icon-color;
            font-size: 1.4em;
        }
    }
}