$theme-purple: #7b8be2;
$theme-light-purple: #d6c9f8;
$theme-dark-blue: #2b3346;
$theme-light-blue: lightsteelblue;
$theme-grey-blue: #7191bd;
$theme-blue: steelblue;

$listing-detail-header-color: $theme-light-purple;
$listing-detail-description-color: $theme-purple;
$listing-detail-label-color: $theme-grey-blue;

$chart-background-color: $theme-dark-blue;
$chart-text-color: $theme-grey-blue;
$chart-axis-color: $theme-grey-blue;

$options-bar-label-color: #7b8be2;
$options-bar-input-background-color: $theme-dark-blue;
$options-bar-text-color: #7b8be2;
$options-button-text-color: #7b8be2;
$options-button-color: #7b8be2;

$detail-header: $theme-light-blue;

$similar-checkbox-background-color: $theme-dark-blue;
$similar-checkbox-color: $theme-light-blue;
$similar-card-header: $theme-light-blue;
$similar-card-text: $theme-blue;

$mentioned-in-text-color: #719dca;
$mentioned-in-date-color: steelblue;